<!DOCTYPE html>
<html lang="cn">
<head>
  <meta charset="UTF-8">
  <title>后台用户登录</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
  <link rel="<?= $css_rel ?>" type="text/css" href="/application/views/login/index.<?= $css_type ?>" >
</head>
<body class="blank">
  <?php include(VIEW_PATH.'common/head_line.html'); ?>
  <div class="container">
    <div id="title" class="row text-center h3">
      <div>
        <?= $company_name ?>管理系统
      </div>
      <div id="small_desc">N9,不跟随!</div>
    </div>

    <div id="login_form" class="container" >
      <div class="row input_title">
        <div class="pull-left">账号</div>
        <div id="account_tips" class="input_tips ">
          <i id="account_tips_icon" class="icon-exclamation-sign"></i><span id="account_tips_w" class="input_tips_w" >请填写账号</span>
        </div>
      </div>
      <div class="row input_value">
        <input type="text" id="account" class="form-control" placeholder="请输入您的手机/邮箱/用户名">
      </div>

      <div id="pwd_title" class="row input_title">
        <div class="pull-left">密码</div>
        <div id="pwd_tips" class="input_tips text-warning">
          <i id="pwd_tips_icon" class="icon-exclamation-sign"></i><span id="pwd_tips_w" class="input_tips_w" >请填写密码</span>
        </div>
      </div>
      <div class="row input_value">
        <input type="password" id="pwd" class="form-control" placeholder="请输入您的密码">
      </div>

      <div id="remember_login" class="row" onclick="r_l_btn_click();">
        <div id="r_l_btn" class="pull-left " >

        </div>
        <div id="r_l_desc" class="pull-left">
            7天免登陆
        </div>
      </div>

      <div class="row submit_no_click" id="submit_blk" onclick="login_post()">
        登陆
      </div>
    </div>
  </div>
</body>
<script src="/application/views/login/index.js"></script>
<script>
</script>
<?php include(VIEW_PATH.'common/bottom.html'); ?>
</html>