<input type="hidden" name="_cat_id" id="_cat_id" value="0">
<div class="form-group">
  <label class="col-sm-2 control-label">适用分类</label>
  <div class="col-sm-2">
    <select id="_category_level_0" class="form-control m-b" onchange="_selectCate(this,0)" name="_category_level_0"  >

    </select>
  </div>
  <div class="col-sm-2">
    <select id="_category_level_1" name="_category_level_1" class="form-control m-b collapse" onchange="_selectCate(this,1)" >

    </select>
  </div>
  <div class="col-sm-2">
    <select id="_category_level_2" name="_category_level_2" class="form-control m-b collapse" onchange="_selectCate(this,2)" >

    </select>
  </div>
  <div class="col-sm-2">
    <select id="_category_level_3" name="_category_level_3" class="form-control m-b collapse" onchange="_selectCate(this,3)">
    </select>
  </div>
</div>

<?php
  if(!isset($_GET["_category_level_0"])){
    $_GET["_category_level_0"] = 0;
  }
  if(!isset($_GET["_category_level_1"])){
    $_GET["_category_level_1"] = 0;
  }
  if(!isset($_GET["_category_level_2"])){
    $_GET["_category_level_2"] = 0;
  }
  if(!isset($_GET["_category_level_3"])){
    $_GET["_category_level_3"] = 0;
  }
?>
<script>
  var _category_level_0 = <?= $_GET["_category_level_0"] ?>;
  var _category_level_1 = <?= $_GET["_category_level_1"] ?>;
  var _category_level_2 = <?= $_GET["_category_level_2"] ?>;
  var _category_level_3 = <?= $_GET["_category_level_3"] ?>;
</script>

<script>
  function _selectCate(obj,level) {
    function hide_other(){
      //沒有子分类,其他全部隐藏
      if(level == 0){
        $("#_category_level_1").hide();
        $("#_category_level_2").hide();
        $("#_category_level_3").hide();
      }else if (level == 1){
        $("#_category_level_2").hide();
        $("#_category_level_3").hide();
      } else if (level == 2){
        $("#_category_level_3").hide();
      }
    };
    var category_id = $(obj).val();
    $("#cat_id").val(category_id);
    if( category_id != 0 ){

      var next_level = level+1;
      if(level == 0){
        $("#_category_level_2").hide();
        $("#_category_level_3").hide();
      }
      if(level == 1){
        $("#_category_level_3").hide();
      }
      //这句貌似没有意义
      //$("#category_level").val(next_level);
      if( level != 3 ){
        $.get("/Category/echoSubCategory/fields/cat_name,cat_id/parent_id/"+category_id, { },
          function(sub_category){
            if( sub_category != 'no_sub_category' ){
              var html = "<option value='-1'>---请选择---</option>";
              for(var o in sub_category){
                html += ' <option value="'+sub_category[o].cat_id+'">'+sub_category[o].cat_name+'</option>'
              }
              $("#_category_level_"+next_level).html(html).show();
            }else{
              hide_other();
            }
          });
      }
    }else{
      hide_other();
    }
    return;
  }
</script>

<script src="/application/views/common/select_category_4_copy.js"></script>
