<link rel="<?= $css_rel ?>" type="text/css" href="/application/views/common/top_nav.<?= $css_type ?>">
<table id="top_nav" class="">
  <tbody>
  <tr>
    <td id="left_title" class="text-center">
      <a href="">
        <?= $company_name ?>管理系统
      </a>
    </td>

    <td class="menu_icon text-center" onclick="$.show_left_menu(this);">
      <i class="icon-align-justify"></i>
    </td>

    <td class="search_input text-center">
      <input id="function_search" type="text" placeholder="请输入您要搜索的功能项">
    </td>

    <td class="btn-list-td">
      <div class="navbar-right">
      </div>
      <div class="navbar-right">
        <ul class="nav nav-tabs pull-right">
          <li class="">
            <a href="javascript:search_function()">
              <i class="icon-search"></i>
            </a>
          </li>

          <li class="dropdown ">
            <a class="dropdown-toggle label-menu-corner" data-toggle="dropdown" href="#">
              <i class="icon-envelope"></i>
              <span class="badge">8</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">有新订单要发货</a></li>
              <li><a href="#">有人投诉</a></li>
              <li><a href="#">有退货</a></li>
              <li class="divider"></li>
              <li><a href="#">有返利</a></li>
            </ul>
          </li>
          <li class="">
            <a href="/User/logout">
              <i class="icon-signout"></i>
            </a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<script>
  function search_function() {
    var f_name = $("#function_search").val();
    if (!f_name) {
      alert("请输入您要搜索的功能!");
      $("#function_search").focus();
    }
  }
</script>