<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title><?= $_title ?></title>
  <link rel="<?= $css_rel ?>" type="text/css" href="/static/common_css/table_align_center.<?= $css_type ?>">
</head>
<body class="blank">
<?php include(VIEW_PATH.'common/top_common_include.html'); ?>

<div id="right_content" class="container-fluid">
  <div class="content">
    <div class="hpanel">
      <div class="panel-heading">
        搜索过滤
      </div>
      <div class="panel-body">
        <form action="/GoodsModel" method="get" class="form-horizontal ">

          <?php include(VIEW_PATH.'common/select_category_4.html'); ?>

          <div class="form-group">
            <label class="col-md-2 control-label">模型名称</label>
            <div class="col-md-2">
              <input type="text" class="form-control" name="model_name" value="<?= $model_name ?>">
            </div>
            <div class="col-md-2 ">
              <button class="btn btn-primary col-xs-offset-1" type="submit">确定</button>
            </div>
          </div>



        </form>

      </div>
    </div>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="hpanel">
          <div class="panel-heading">
            <?= $_title ?>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
              <tr>
                <!--暂时不做批量操作
                <th><input type="checkbox"></th>
                -->
                <th>模型名称</th>
                <th>规格数据</th>

                <th>前台过滤</th>
                <th>过滤隐藏</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <?php if( !$model_list ) :?>
              <tr>
                <td colspan="8" class="text-center">
                  <h4>没有规格</h4>
                </td>
              </tr>
              <?php endif; ?>

              <?php foreach ($model_list as $item): ?>
              <tr>
                <!--暂时不做批量操作
                <th scope="row">
                  <input type="checkbox">
                </th>
                -->
                <td><?= $item['name'] ?></td>


                <td class="col-md-2">
                  <?= $item['spec_name_show'] ?>
                </td>
                <td>
                  <a href="/Category/goodsCategoryEdit">
                    <i class="icon-ok">
                    </i>
                  </a>
                </td>
                <td>
                  <a href="/Category/goodsCategoryEdit">
                    <i class="icon-remove">
                    </i>
                  </a>
                </td>
                <td>
                  <a href="/Category/goodsCategoryEdit">编辑</a>
                  <a href="/Category/goodsCategoryEdit">复制</a>
                </td>
              </tr>
              <?php endforeach; ?>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="pull-right">
      <?= $pagination ?>
    </div>
  </div>

</div>
</body>
<?php include(VIEW_PATH.'common/bottom.html'); ?>
</html>

