<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="/static/common_js/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="/static/common_css/mobile_reset.css">
  <link rel="stylesheet" href="/static/common_css/family.css">
  <link rel="stylesheet" href="/application/views/search/family.css">
</head>
<body>
<style>
  #tets_blk{ position:fixed; top:10px; left:10px;; width:40px; height:40px; background:green; color:#fff;; }
</style>
<div id="tets_blk" class="hide">

</div>
<? if( $family_list ): ?>
  <? foreach($family_list as $k=>$v ): ?>
<div class="family_block" onclick="family.view_detail('<? echo($v['family_id']); ?>','<? echo($v['family_name']); ?>')" <? if($k==0):?>id='family_block'<? endif; ?>  >
  <div class="fl head_portrait">
    <img class="head_portrait_img" src="<? echo($v['head_portrait']) ?>">
  </div>
  <div class="info_blk">
    <div class="family_name"><? echo($v['family_name']) ?></div>
    <div class="fl family_icon_info_blk">
      <div class="family_num fl">
        <img class="fl people_img" src="/application/views/search/img/people.png">
        <div class="fl p_num">
          <? echo($v['people_num']) ?>
        </div>
      </div>
    </div>
    <div class="fl family_introduce">
      <? echo($v['introduce']) ?>
    </div>

  </div>

</div>
  <? endforeach; ?>
<? endif; ?>
<div id="loading_blk" class="<? if( !$family_list ): ?>hide<? endif; ?>">
  正在加载...
</div>
<div id="load_blk" class="hide">
  <div id="family_icon_block">
    <div id="load_img_div">
      <img id="load_img" src="/application/views/search/img/loading_icon.gif">
    </div>
    <div id="load_tips">
      正在搜索
    </div>
  </div>
</div>

<div id="no_result_blk" class="<? if( $family_list ): ?>hide<? endif; ?>" >
  <div id="e_m_div">
    <img id="e_m_img" src="/application/views/search/img/excalmatory_mark.png">
  </div>
  <div id="no_result_tips">
    此家族“<? echo($family_name); ?>”还没有创建
  </div>
  <!---
  <div id="create_btn">
    立即创建
  </div>
  -->
</div>

<input type="hidden" id="page" name="page" value='1'>
<input type="hidden" name="family_ids" id="family_ids" value='<? echo($family_ids_serialize);?>'>
</body>
<script>
  var f_name = '<? echo($family_name); ?>';
</script>
<script src="/application/views/search/family.js"></script>

</html>