<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="/static/common_js/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="/static/common_css/mobile_reset.css">
  <link rel="stylesheet" href="/static/common_css/family.css">
  <link rel="stylesheet" href="/application/views/family/detail.css">
</head>
<body>
  <div id="top_blk">
    <div id="info_blk">
      <img id="logo" src="<? echo($family_info['head_portrait']); ?>">
      <div id="census_register">
        <? echo($family_info['province_name']); ?> <? echo($family_info['city_name']); ?>
      </div>
    </div>
  </div>
  <div id="introduce_blk">
    <div class="title">家里话</div>
    <div id="i_content">
      <? echo($family_info['introduce']); ?>
    </div>
  </div>

  <div id="people_blk">
    <div class="title">家族成员</div>
    <div id="p_img_blk">
      <? foreach( $people_list as $v ): ?>
      <img onerror="load_pic_error(this)" class="p_img" src="<? echo($v['avatar']) ?>">
      <? endforeach; ?>
    </div>
  </div>
</body>
<script>
</script>
<script src="/application/views/family/detail.js"></script>

</html>