
.family_block{  margin:0px 0px 1px 0px; padding:5px 0px 5px 10px;}
.head_portrait{ width:80px; height:100%;  }
.head_portrait_img{ width:80px; height:80px; border-radius:200px; }

.info_blk{ height:85px;  margin:0px 0px 0px 95px; padding:0px 0px 0px 0px; }
.family_name{ font-size:21px; font-weight:bold; padding:10px 0px 0px 0px; }
.family_icon_info_blk{ width:100%; margin:4px 0px 0px 0px; }
.family_num{ height:12px; padding:3px 7px 3px 7px; background:#99c4ed; }
.people_img{ width:12px; }
.p_num{ margin:0px 0px 0px 4px; font-size:12px; color:#fff; }
.family_introduce{ width:100%; margin:5px 0px 0px 0px; padding:0px 0px 9px 0px; font-size:13px; color:#BBB;  border-bottom:1px solid #EFEFEF; }
#loading_blk{ width:100%; font-size:12px; line-height:25px; text-align:center;color:#949494; }
#family_block{ padding-top:10px; }
#load_blk{ position:fixed; top:0px; width:100%; height:100%; background:rgba(0,0,0,0.2) }

#family_icon_block{ position:relative; width:80px; height:80px; top:50%; margin:-50px auto 0px auto; padding:10px; border-radius:15px; background:rgba(0,0,0,0.5) }
#load_img_div{ position:relative; margin:6px auto 0px auto; width:50px; }
#load_img{ width:100%; }
#load_tips{ width:100%; margin:5px 0px 0px 0px; text-align:center; font-size:13px; line-height:15px; color:#fff;}

#no_result_blk{ width:100%; height:400px; }
#e_m_div{ width:100px; height:100px; margin:54px auto 0px auto;}
#e_m_img{ width:100%; }
#no_result_tips{ width:100%; margin:27px 0px 5px 0px; font-size:15px; color:#2e2d2d; text-align:center }
#create_btn{ position:relative; width:150px; margin:33px auto 0px auto; padding:0px 0px 0px 0px; border:1px solid #F4AC85;
  border-radius:2px;
  color:#D77540; text-align:center; line-height:49px; }