<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><?= $company_name ?></title>
  <link rel="stylesheet" type="text/css" href="/static/font_awesome/css/font-awesome.min.css" >
  <link rel="<?= $css_rel ?>" type="text/css" href="/application/views/index/index.<?= $css_type ?>" >
</head>
<body class="blank">
<?php include(VIEW_PATH.'common/top_common_include.html'); ?>
<style>
  #right_content{ height:1500px; }
</style>
<div id="right_content" class="container-fluid">
    <div style="">
      <h1 class="text-center">统计模块.待开发</h1>
    </div>
</div>
</body>
<script src="/application/views/index/index.js"></script>
<?php include(VIEW_PATH.'common/bottom.html'); ?>
</html>

