<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="/static/common_js/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="/static/common_css/mobile_reset.css">
  <link rel="stylesheet" href="/static/common_css/family.css">
  <link rel="stylesheet" href="/application/views/area/getChinaProvince.css">
</head>
<body>
<style>
  body{ background:#ebebeb }
  #region_big_blk{ width:100%; margin:20px 0px 0px 0px; background:#fff }
  .region_class{ width:90%; margin:auto auto; padding:13px 0px 13px 0px; text-indent:10px; color:#3c3c3c; border-bottom:1px solid #ECECEC; }
  #region_last{ border-bottom:0px; }
</style>
<div id="region_big_blk">
  <? foreach( $pronvince as $v ): ?>
  <div onclick="select_province(<? echo($v['area_id']) ;?>,'<? echo($v['area_name'])?>')" class="region_class" <? if($k==(count($pronvince)-1)):?>id='region_last'<? endif; ?> >
    <? echo($v['area_name']) ?>
  </div>
  <? endforeach; ?>
</div>
</body>
<script>
</script>
<script src="/application/views/area/getChinaProvince.js"></script>

</html>