<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title><?= $_title ?></title>
  <link rel="<?= $css_rel ?>" type="text/css" href="/static/common_css/table_align_center.<?= $css_type ?>">
  <link rel="<?= $css_rel ?>" type="text/css" href="/application/views/goodsspec/add.<?= $css_type ?>">
</head>
<body class="blank">
<?php include(VIEW_PATH.'common/top_common_include.html'); ?>
<div id="right_content" class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-md-12 .col-md-offset-3">
        <div class="hpanel">

          <div class="panel-heading">
            <?= $_title ?>
          </div>

          <div class="panel-body">
            <form action="/GoodsSpec/addPost" method="post" class="form-horizontal">


              <div class="form-group">
                <label class="col-sm-2 control-label">规格名称</label>
                <div class="col-sm-3">
                  <input type="text" required class="form-control" name="name">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">输入框类型</label>
                <div class="col-sm-3">
                  <select class="form-control m-b" name="input_type" id="input_type" onchange="change_input_type(this.value);">
                      <option value="1">下拉框</option>
                      <option value="2">单选框</option>
                      <option value="3">多选框</option>
                      <option value="4">文本框</option>
                      <option value="5">联动菜单</option>
                  </select>
                  <span class="help-block m-b-none">
                    下拉框和联动菜单勿用图片，联动菜单时规格值需特定格式，1级|2级,2级，如：衣领|圆领,V领,立领
                  </span>
                </div>
              </div>

              <div class="form-group collapse" id="spec_name_2">
                <label class="col-sm-2 control-label">规格名称2</label>
                <div class="col-sm-3">
                  <input type="text"  class="form-control" name="name2">
                  <span class="help-block m-b-none">仅对联动菜单有效，用于联动二级的名称</span>
                </div>
              </div>

              <?php include(VIEW_PATH.'common/select_category_4.html'); ?>
              <div class="form-group">
                <label class="col-sm-2 control-label">显示类型</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    <input type="radio" name="show_type" checked value="1"> 文字
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="show_type" value="0" > 图片
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">规格图片</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    <input type="radio" name="have_picture"  value="1"> 有
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="have_picture"  value="0" checked > 无
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">搜索过滤显示</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    <input type="radio" name="is_filter" checked  value="1"> 显示
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="is_filter"  value="0" > 不显示
                  </label>
                  <span class="help-block m-b-none">
                    就是在搜索页或者分类页的时候这个规格是否会显示,作为过滤值.
                  </span>
                </div>
              </div>

              <div class="form-group ">
                <label class="col-sm-2 control-label">单位</label>
                <div class="col-sm-2">
                  <input type="text"  class="form-control" name="unit">
                  <span class="help-block m-b-none">
                     如%,Hz,M,V,Km等
                  </span>
                </div>

              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-6">
                  <textarea type="text"  class="form-control" name="note"></textarea>
                  <!--
                  <span class="help-block m-b-none">
                    商家在录入商品的时候会显示在前台.
                  </span>
                  -->
                </div>
              </div>

              <div class="form-group" id="spec_value_form_group">
                <label class="col-sm-2 control-label">规格值</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-2">
                      <button type="button" class="btn btn-info" onclick="add_spec_value()">添加规格值</button>
                    </div>
                  </div>
                  <table class="table table-bordered top_offset_1 text-center">
                    <thead>
                    <tr >
                      <th class="text-center">规格值</th>
                      <th class="text-center">搜索过滤显示</th>
                      <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody class="">
                    <tr class="spec_value_tr">
                      <td>
                        <input type="text" required class="form-control" name="spec_value[]" >
                      </td>
                      <td>
                        <select class="form-control m-b"  name="is_show[]">
                          <option value="1">显示</option>
                          <option value="0">不显示</option>
                        </select>
                      </td>
                      <td>
                        <div class="row spec_val_btn">
                          <div class="col-sm-4 text-center">
                            <a href="javascript:void(0)" onclick="self_up(this)">
                              <i class="icon-arrow-up" ></i>
                            </a>
                          </div>
                          <div class="col-sm-4 text-center">
                            <a href="javascript:void(0)" onclick="self_down(this)">
                            <i class="icon-arrow-down"></i>
                            </a>
                          </div>
                          <div class="col-sm-4 text-center">
                            <a href="javascript:void(0)" onclick="self_remove(this)">
                            <i class="icon-remove"></i>
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                  <button class="btn btn-default " type="button" onclick="history.go(-1);">取消</button>
                  <button class="btn btn-primary col-xs-offset-1" type="submit">确定</button>
                </div>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>

</script>
<script src="/application/views/goodsspec/add.js"></script>
<?php include(VIEW_PATH.'common/bottom.html'); ?>
</html>

