<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Expires" CONTENT="0">

  <meta http-equiv="Cache-Control" CONTENT="no-cache">

  <meta http-equiv="Pragma" CONTENT="no-cache">
  <title> <?= $_title ?></title>
  <link rel="<?= $css_rel ?>" type="text/css" href="/static/common_css/common.<?= $css_type ?>">
  <link rel="<?= $css_rel ?>" type="text/css" href="/application/views/goods/add.<?= $css_type ?>">
  <style>
  </style>
</head>
<body class="blank">
<?php include(VIEW_PATH.'common/top_common_include.html'); ?>
<div id="right_content" class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-md-12 .col-md-offset-3">
        <div class="hpanel">
          <div class="panel-heading">
            <?= $_title ?>
          </div>
          <div class="panel-body">

            <form id="goodsModalForm" action="/Goods/addPost?goods_attr_oo=1" method="post" class="form-horizontal" onsubmit="return ($.CheckGoodsModalFrom.CheckAll())">
              <input type="hidden" name="category_id" value="<?= $category_id ?>" >
              <div class="form-group">
                <label class="col-sm-2 control-label ">商品分类</label>
                <div class="col-sm-10 control-label">
                  <div class="row text-left">
                    <div class="col-sm-12">
                      <?php foreach($parent_category_info as $value): ?>
                        <?= $value ?><i class="fa fa-angle-right "></i>
                      <?php endforeach; ?>
                      <?= $last_category_info['cat_name'] ?>
                      <a href="http://baidu.com" class="col-xs-offset-1" onClick="return confirm('确定要修改分类吗?');" >修改商品分类</a>
                    </div>

                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">商品名称</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="goods_name" required  placeholder="请输入商品名称">
                </div>
              </div>

              <?php if ( isset( $special_attribute_info['special_attribute_num'] ) && $special_attribute_info['special_attribute_num']==0 ): ?>
              <div class="form-group">
                <label class="col-sm-2 control-label">商品编码</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="goods_name" required  placeholder="请输入店铺的商品编码">
                  <span class="help-block">
                      店铺的商品编码,有助于发货的时候精确找到商品.
                  </span>
                </div>
              </div>
              <?php endif; ?>

              <?php foreach($category_model_attribute_list as $model_attribute_key => $model_attribute_value): ?>
              <div class="form-group">
                <label class="col-sm-2 control-label"><?= $model_attribute_value['name'] ?></label>
                <div class="col-sm-10 attr_val_col">
                  <?php switch ($model_attribute_value['input_type']):?><?php case 1 : ?>
                  <select class="form-control" name="goods_attr[<?= $model_attribute_value['id'] ?>][]" <?php if ( $model_attribute_value['is_required']==1 ): ?> required <?php endif; ?> >
                    <option value="0">请选择</option>
                    <?php foreach($model_attribute_value['spec_value'] as $goods_spec_key => $goods_spec_value): ?>
                    <option value="<?= $goods_spec_value ?>"><?= $goods_spec_value ?></option>
                    <?php endforeach; ?>
                  </select>
                  <?php break; ?>

                  <?php case 2 : ?>
                  <?php foreach($model_attribute_value['spec_value'] as $goods_spec_key => $goods_spec_value): ?>
                  <label class="radio-inline">
                    <input type="radio" name="goods_attr[<?= $model_attribute_value['id'] ?>][]"

                           value="<?= $goods_spec_value ?>" > <?= $goods_spec_value ?><?php //单选框可以有图片的,先不弄 ?>
                  </label>
                  <?php endforeach; ?>
                  <?php break; ?>

                  <?php case 3 : ?>
                  <?php foreach($model_attribute_value['spec_value'] as $goods_spec_key => $goods_spec_value): ?>
                  <?php //if ( $goods_spec_key < 2 ): ?>
                  <label class="checkbox-inline">
                    <input name="goods_attr[<?= $model_attribute_value['id'] ?>][]" type="checkbox"
                          <?php //规格属性处理 ?>
                          <?php if ( $model_attribute_value['attr_type']==0 ): ?> onclick='$.SpeciaAlttribute.Click(this)' <?php endif; ?>
                          class='<?php if ( $model_attribute_value['attr_type']==0 ): ?> special_attribute_index_<?= $model_attribute_value['special_attribute_index'] ?> <?php endif; ?>'
                          special_attribute_name='<?= $model_attribute_value['name'] ?>'
                          value="<?= $goods_spec_value ?>"> <?= $goods_spec_value ?><?php //多选框可以有图片的,先不弄 ?>
                  </label>
                  <?php //endif; ?>
                  <?php endforeach; ?>
                  <?php if ( $model_attribute_value['attr_type']==0 ): ?>
                  <a>
                    <span class="checkbox-inline">添加<?= $model_attribute_value['name'] ?></span>
                  </a>
                  <?php endif; ?>
                  <?php break; ?>

                  <?php case 4 : ?>
                  <input name="goods_attr[<?= $model_attribute_value['id'] ?>][]" type="text" class="form-control" >
                  <?php break; ?>

                  <?php case 5 : ?>
                  联动菜单还没弄
                  <?php break; ?>

                  <?php endswitch ?>
                </div>
              </div>
              <?php endforeach; ?>




              <?php if ( isset( $special_attribute_info['special_attribute_num'] ) && $special_attribute_info['special_attribute_num']==0 ): ?>
              <div class="form-group">
                <label class="col-sm-2 control-label">商品价格</label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">¥</div>
                    <input type="number" name="goods_price" step="0.01" class="form-control" placeholder="商品价格">
                    <div class="input-group-addon">/件</div>
                  </div>
                </div>
              </div>
              <?php endif; ?>

              <div class="form-group" id="spec_value_form_group">
                <label class="col-sm-2 control-label">商品规格信息</label>
                <div class="col-sm-10">

                  <table class="table table-bordered top_offset_1 text-center table-hover">
                    <thead>
                    <tr>
                      <?php foreach($special_attribute_info['title'] as $v): ?>
                      <th class="text-center"><?= $v ?></th>
                      <?php endforeach; ?>

                      <th class="text-center">价格(<span class="text-info">¥</span>)</th>
                      <th class="text-center">重量(<span class="text-info">KG</span>)</th>
                      <th class="text-center">库存</th>
                      <th class="text-center">商品编码</th>
                      <th class="text-center">规格图片</th>
                    </tr>
                    </thead>
                    <tbody id="spec_tbody" class="">
                    <tr id="special_attribute_select_tips">
                      <td colspan="<?php echo($special_attribute_info['special_attribute_num']+5) ?>">
                          请选择<?= $special_attribute_info['all_title'] ?>
                      </td>
                    </tr>


                    <!--
                    <tr class="hybird_spec_row">
                      <td>
                        红色
                      </td>
                      <td>
                        XL
                      </td>
                      <td>
                        <input type="number" class="form-control" placeholder="请输入商品价格">
                      </td>
                      <td>
                        <input type="text" class="form-control" placeholder="请输入商品重量">
                      </td>
                      <td>
                        <input type="text" class="form-control" placeholder="请输入商品库存">
                      </td>
                      <td>
                        <input type="text" class="form-control" placeholder="请输入商品编码">
                      </td>
                      <td>
                        <button class="btn btn-default " type="button">选择图片</button>
                      </td>
                    </tr>


                    <tr class="spec_tr hybird_spec_row">
                      <td>
                        红色
                      </td>
                      <td>
                        XL
                      </td>
                      <td>
                        <input type="text" class="form-control" placeholder="请输入商品价格">
                      </td>
                      <td>
                        <input type="text" class="form-control" placeholder="请输入商品重量">
                      </td>
                      <td>
                        <input type="text" class="form-control" placeholder="请输入商品库存">
                      </td>
                      <td>
                        <input type="text" class="form-control" placeholder="请输入商品编码">
                      </td>
                      <td>
                        <div class="hybird_spec_img_div ">
                          <i class="fa fa-times-circle _fa_times pull-right btn btn-danger " title="删除图片">
                          </i>
                          <img class="hybird_spec_img "
                               src="http://test.vengood.com/resource/attachment/images/2016/01/dZc7H7Vd7FSfeQrKQff777ahSQCA8a.png">
                        </div>

                      </td>
                    </tr>
                    -->
                    </tbody>
                  </table>

                </div>
              </div>

              <div id="blank_special_attribute_html" class="hidden">
                <td>
                  <input type="number" class="form-control" placeholder="请输入商品价格">
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="请输入商品重量">
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="请输入商品库存">
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="请输入商品编码">
                </td>
                <td>
                  <button class="btn btn-default " type="button">选择图片454</button>
                </td>
              </div>

              <?php if ( isset( $special_attribute_info['special_attribute_num'] ) && $special_attribute_info['special_attribute_num']==0 ): ?>
              <div class="form-group">
                <label class="col-sm-2 control-label">商品库存</label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type="number" name="goods_number" class="form-control" placeholder="商品库存">
                    <div class="input-group-addon">件</div>
                  </div>
                </div>
              </div>
              <?php endif; ?>

              <?php if ( isset( $special_attribute_info['special_attribute_num'] ) && $special_attribute_info['special_attribute_num']==0 ): ?>
              <div class="form-group">
                <label class="col-sm-2 control-label">商品重量</label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <div class="input-group-addon">KG</div>
                    <input type="number" step="0.001" class="form-control" name="goods_weight" placeholder="商品重量">
                    <div class="input-group-addon">/件</div>
                  </div>
                </div>
              </div>
              <?php endif; ?>

              <div class="form-group">
                <label class="col-sm-2 control-label">计量单位</label>
                <div class="col-sm-2">
                  <select class="form-control" name="unit">
                    <?php foreach($goods_unit_info as $value): ?>
                    <option value="<?= $value['unit_value'] ?>"><?= $value['unit_value'] ?></option>
                    <?php endforeach; ?>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">商品主图</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-2">
                      <button class="btn btn-default " type="button" >选择图片</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="help-block">
                      </div>
                      <div class="fileupload-preview thumbnail ">
                        <img src="http://test.vengood.com/resource/attachment/images/2016/01/dZc7H7Vd7FSfeQrKQff777ahSQCA8a.png">
                      </div>
                      <span class="help-block">商品图片尺寸建议 800*800</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">商品图片</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-2">
                      <span class="btn btn-primary"><i class="fa fa-plus"></i> 上传照片</span>
                    </div>
                  </div>
                  <hr style="border-color:#fff;" />
                  <div class="row can_remove_list">
                    <?php for ($i = 1; $i <= 10; $i++): ?>
                    <div class="col-sm-2">
                      <i class="fa fa-times-circle _fa_times pull-right btn btn-danger " title="删除图片">
                      </i>
                      <div class="thumbnail">
                        <img
                          src="http://test.vengood.com/resource/attachment/images/2016/01/dZc7H7Vd7FSfeQrKQff777ahSQCA8a.png">
                      </div>
                    </div>
                    <?php endfor; ?>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">商品上架</label>
                <div class="col-sm-5">
                  <label class="radio-inline">
                    <input type="radio" name="is_on_sale"  value="1" checked> 是
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="is_on_sale"  value="0"> 否
                  </label>
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                  <button class="btn btn-default btn-lg" type="button" onclick="history.go(-1);">取消</button>
                  <button class="btn btn-primary col-xs-offset-1 btn-lg" type="submit">确定添加商品</button>
                </div>
              </div>
            </form>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>



</body>
<script>

</script>
<script src="/application/views/goods/add.js"></script>
<script>
  (function ($) {
    //Initial the data
    $.SpeciaAlttribute.Info = eval(<?= $special_attribute_info_json ?>);
    })(jQuery);

  (function ($) {
    //Initial the data
    $.SpeciaAlttribute.Init()
    $.SpeciaAlttribute.Click();
  })(jQuery);
</script>
<?php include(VIEW_PATH.'common/bottom.html'); ?>
</html>

